.queroDoarSection {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  p {
    font-size: 24px;
    font-weight: 400;
  }
}

form {
  border: solid 3px #005695;
  border-radius: 20px;
  height: 70vh;
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  div {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    color: #005695;

    h2 {
      font-size: 24px;
      font-weight: 400;
    }
  }

  input {
    width: 80%;
    height: 5vh;
    border: solid #005695 2px;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 16px;

    &::placeholder {
      color: #000;
    }
  }
}

.buttonDoar {
  background-color: #005695;
  color: #fff;
  width: 40%;
  height: 6vh;
  padding: 0;
  font-size: 24px;
  cursor: pointer;

  &:hover {
    background-color: #000;
    border: #000;
    transition: 0.7s;
  }
}

@media (max-width: 780px) {
  .queroDoarSection {
    height: 100vh;

    p {
      font-size: 18px;
      text-align: center;
      width: 80%;
    }

    form {
      width: 90%;
      font-size: 14px;
    }
  }
}
